.container {
    padding-top: 1rem;
    /* background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(12,103,44,1) 100%); */
    background: linear-gradient(360deg, rgba(3,105,0,1) 0%, rgba(58,191,54,1) 100%);
}

.container h1 {
    font-family: "Source Code Pro", monospace;
    color: var(--cor-white);
    font-weight: bold;
    letter-spacing: 3px;
}

.container h1 span {
    color: var(--cor-text-first);
}


.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

/* menu */


.menu {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: .2rem;

}

.menu ul {
    background-color: var(--cor-secundaria);
    padding: .2rem 1rem;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
}

.menu ul a {

    color: var(--cor-white);
}