:root{
    --cor-primaria:#3abf36;
    --cor-secundaria: #022601;
    --cor-terciaria: #034001;
    --cor-white: #ffffff;
    --cor-black: #000000;
    --cor-text-first:#52BF4E;
    --cor-text-second:#234459;
    --cor-text-third:#034d00;
}